


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "container">
    <h2 class="article-heading">your Favourite Articles</h2>
{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <li><a href="/articles/{{source.id}}">{{ source.name}}</a></li>
    {% endfor %}

{% endmacro %}

{% macro displayArticlesList(articles_list) %}
<h1 class="article-header"style="text-align:center;color: #464042;">Your Favourite Articles</h1>
<br>
   <div class="container">
       <div class="card-group">

        {% for articles in articles_list %}
        <div class="card color-md-4">
            <div class="card">
        
        <img src="{{articles.urlToImage}}"style ="border-radius:25px;"  height="60%",width ="60%">
        <div class="card-body">
        
         <h3 class="card-title">{{articles.title}}</h3>
        <p class="card-text">{{articles.description}}</p>
        <br>
        
        <p class="card-text">{{articles.content}}</p> 
             
        <div>
        <h4>Author:&#126;   {{articles.author}}</h4> 
        </div>
        <div>
           <p>Published at: {{articles.publishedAt}}</p>
        </div>
        

       <a href={{articles.url}} class="btn btn-outline-primary"><button class="btn bg-primary">Read more</button></a>
       </div>
       </div>
       </div>
       
    {% endfor %}

{% endmacro %}
</div>

    
</body>
</html>
